
body{
    height: 90vh;
    margin: 0 auto;
}
#button{
    padding: 15px;
    color: white;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    width: 20%;
}

#quiz{
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 10px;;
}

.lyrics-box{
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
}

footer{
    margin-top: 600px;;
    text-align: center;
}

#imgg img{
    border-radius: 50%;
    border: 2px solid red;
    height: 60px;
    width: 60px;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.answer-container{
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}

ul {
    list-style: none;
}
li {
    width: 30%;
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;

}
input {
    visibility:hidden;
}
label {
    cursor: pointer;
    text-align: center;
}
input:checked + label {
    background: red;
}