
body{
    height: 90vh;
}
#button{
    padding: 15px;
    color: white;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    width: 20%;
}

#quiz{
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 10px;;
}

.lyrics-box{
    margin: 0 auto;
    height: 20vh;
    width: 50%;
    border: 1px solid black;
}

footer{
    margin-top: 600px;;
    text-align: center;
}